@font-face {
    font-family: 'luissSans-Regular';
    src: url("../fonts/luiss/LuissSans-Regular.otf");
}

.bodyMajProfil {
    background-color: #d6cdcd;
}


h2 {
    color: #aa1a28;
    text-align: center;
    margin-top: 2em;
}

p {
    text-align: center;
}



.pageMajProfil {
    font-family: 'luissSans-Regular', serif;
    display: flex;
    flex-flow: row wrap;
}

.pageMajProfil img {
    width: 40%;
    height: 60%;
    opacity: 0.75;
    box-shadow: 3px 3px 3px #3e3c3c;
    margin : 0 .2em 0 5em;
}

.formulaire {
    padding: 2em;
    display: inline-block;
    margin: auto auto auto 5em;
}
 

label {
    display: inline-block;
    min-width: 12em;
    font: 1rem 'luissSans-Regular', sans-serif;
}





input, 
label {
    margin: .4rem 0;
}

button {
    transition: 1s;
    padding: 2em;
    background-color: ##d6cdcd;
    border: none;
    box-shadow: 3px 3px 3px #3e3c3c;
    margin: 5em 0 0 20em;
}
button:hover {
    transition: .2s;
    background-color: #aa1a28;
    cursor: pointer;
}

/* affichage checkbox    */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #aa1a28;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #aa1a28;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .pageMajProfil .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

..pageMajProfil h5 {
  display: inline-block;
  width: 10em;
}
.pageMajProfil .container {
  display: inline;
}