@font-face {
    font-family: "luissSans-Regular";
    src: url("../fonts/luiss/LuissSans-Regular.otf");
}

/*Palette de couleurs :

        gris foncé : #3e3c3c
        gris moyen : #d6cdcd
        ecriture de la nav : beige
        rouge : #aa1a28
        */



body, div, p, a, ul, li, nav, form  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6cdcd;
    font-family: luiss, serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding-top: 2em;
}

li {
    list-style-type: none;
}


h1 {
    color: #aa1a28;
    text-align: center;
    
}

h2 {
    color: #3e3c3c;

}

/*                                                               EN TETE*/
.enTete {
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }

.menuDeroulant {
    display: none;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.menuDeroulant>ul {
    z-index: 0;
    transition: .2s;
    /* display: none; */
    position: absolute;
    top: -20em;
}

.menuDeroulant:hover ul{
    /* display: block; */
    transition: .2s;
    position: absolute;
    top: 100%;
}

nav {
    z-index: 5;
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: #3e3c3c;
    color: beige;
    border-bottom: 10px solid #aa1a28;
}


nav p {
    font-family: 'Fredericka The Great';
    font-size: 300%; 
  }
nav img {
    
    height: 6em;
    background-color: #3e3c3c;
}
img.hambMenu {
    width: 4em;
    height: 4em;
}

.connexEtc {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    }
    
.connexEtc a {
    margin-left: 1em;
}

/* --------------------------------------------------------------------PAGE CATALOGUE*/

.presentationCatalogue p {
    margin: 2em 5em 2em 5em;
    font-size: 1.2em;
}
.nosOffres {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nosOffres img {
    height: 145px;
    box-shadow: 3px 3px 3px #3e3c3c;
    margin : 0 .2em 0 .2em;
}
/* 
.offresSpeciales {
    margin: auto;
} */