/*Palette de couleurs :

        gris foncé : #3e3c3c
        gris moyen : #a39999
        ecriture de la nav : beige
        rouge : #aa1a28
        */



body, div, p, a, ul, li, nav  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a39999;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding-top: 3em;
}

li {
    list-style-type: none;
}

h1, h2, h3 {
    font-family: 'Fredericka The Great';
}

h1 {
    color: #aa1a28;
}

h2 {
    color: #3e3c3c;
}

/*                                                               EN TETE*/
.enTete {
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }

.menuDeroulant {
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.menuDeroulant>ul {
    z-index: 0;
    transition: .2s;
    /* display: none; */
    position: absolute;
    top: -20em;
}

.menuDeroulant:hover ul{
    /* display: block; */
    transition: .2s;
    position: absolute;
    top: 100%;
}

nav {
    z-index: 5;
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: #3e3c3c;
    color: beige;
    border-bottom: 10px solid #aa1a28;
}


nav p {
    font-family: 'Fredericka The Great';
    font-size: 300%; 
  }
nav img {
    
    height: 6em;
    background-color: #3e3c3c;
}

.connexEtc {
    display: flex;
    justify-content: flex-end;
    }
    
.connexEtc a {
    margin-left: 1em;
}

/*                                                 PAGE CATALOGUE*/
.pageCatalogue {
display: flex;
flex-flow: column wrap;
justify-content: space-around;
align-items: center;
}

.pageCatalogue p {
    margin-left: 5em;
    margin-top: 3em;

}
.offresSpéciales, autresOffres {
    flex-direction: column;
} 

.pageCatalogue img {
    flex-direction: row;
    height: 200px;
    box-shadow: 3px 3px 3px #3e3c3c;
    margin-right: 10px;
}
