@font-face {
    font-family: "luissSans-Regular";
    src: url("../fonts/luiss/LuissSans-Regular.otf");
}

/*Palette de couleurs :

        gris foncé : #3e3c3c
        gris moyen : #d6cdcd
        ecriture de la nav : beige
        rouge : #aa1a28
        */



body, div, p, a, ul, li, nav, form  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6cdcd;
    font-family: luiss, serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding-top: 2em;
}

li {
    list-style-type: none;
}


h1 {
    color: #aa1a28;
    text-align: center;
    
}

h2 {
    color: #3e3c3c;

}

/*                                                               EN TETE*/
.enTete {
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }

.navPage1  {
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: #3e3c3c;
    color: beige;
}


.navPage1 p {
    font-size: 300%; 
  }
.navPage1 img {
    height: 6em;
}


.connexEtc {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    }
    
.connexEtc a {
    margin-left: 1em;
}
/* =============================================================================== */
/* ================================================================PAGE ACCUEIL*/
/* =============================================================================== */


.texteAccueil p {
    margin: 2em 5em 2em 5em;
    font-size: 1.2em;
}
.nosOffres {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nosOffres img {
    height: 145px;
    box-shadow: 3px 3px 3px #3e3c3c;
    margin : 0 .2em 0 .2em;
}
/* 
.offresSpeciales {
    margin: auto;
} */